header {
    width: 100%;
    background: black url('../../Assisstest/img/header.png') no-repeat center / cover;
    padding-top: 20px;
}

header .header-title {
    width: 100%;
}

header .header-title h1.top {
    font-size: 140px;
    color: white;
    margin-bottom: 0px;
    padding-top: 160px;
    padding-bottom: 40px;
}

header .header-title h1.top img {
    width: 320px;
    border-radius: 50px;
}


header .header-title .box-bottom {
    display: flex;
    grid-gap: 30px;
    align-items: center;
    padding-bottom: 50px;
}

header .header-title .box-bottom a {
    text-align: center;
    background: #fe9e3f;
    border-radius: 50%;
    padding: 30px 40px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

header .header-title .box-bottom a .css-1umw9bq-MuiSvgIcon-root {
    display: flex;
    justify-content: center;
    margin: auto;
}

header .header-title .box-bottom a:hover .css-1umw9bq-MuiSvgIcon-root {
    cursor: pointer;
    transition: .3s;
    transform: rotate(50deg);
}


header .header-title .box-bottom p.bottom {
    color: white;
    margin-bottom: 0px;
}

header .header-title .corusel {
    padding-bottom: 80px;
}