header {
    width: 100%;
    background: black url('../../Assisstest/img/header.png') no-repeat center / cover;
    padding-top: 20px;
}

header .header-title {
    width: 100%;
}

header .header-title h1.top {
    font-size: 140px;
    color: white;
    margin-bottom: 0px;
    padding-top: 160px;
    padding-bottom: 40px;
}

header .header-title h1.top img {
    width: 320px;
    border-radius: 50px;
}


header .header-title .box-bottom {
    display: flex;
    grid-gap: 30px;
    align-items: center;
    padding-bottom: 50px;
}

header .header-title .box-bottom a {
    text-align: center;
    background: #fe9e3f;
    border-radius: 50%;
    padding: 30px 40px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

header .header-title .box-bottom a svg {
    display: flex;
    justify-content: center;
    margin: auto;
    transition: .3s;
}

header .header-title .box-bottom a:hover svg {
    cursor: pointer;
    transition: .3s;
    transform: rotate(50deg);
}


header .header-title .box-bottom p.bottom {
    color: #ffffffcc;
    margin-bottom: 0px;
    font-size: 16px;
}

header .header-title .corusel {
    padding-bottom: 80px;
}


@media(max-width:1199px){
    header .header-title h1.top{
        font-size: 95px;
        text-align: center;
    }
    header .header-title h1.top img{
        width: 300px;
    }
}

@media(max-width:991px){
    header .header-title h1.top{
        font-size: 70px;
        padding-top: 100px;
    }
    header .header-title h1.top img{
        width: 250px;
    }
}
@media(max-width:767px){
    header .header-title h1.top{
        font-size: 55px;
    }
    header .header-title h1.top img{
        width: 200px;
    }
    
    header .header-title .box-bottom a{
        padding: 20px 30px;
    }
    header .header-title .corusel{
        padding-bottom: 30px;
    }
}
@media(max-width:575px){
    header .header-title h1.top{
        font-size: 40px;
    }
    header .header-title h1.top img{
        width: 100px;
    }
    header .header-title .box-bottom{
        flex-direction: column;
        padding-bottom: 30px;
    }
    header .swiper-backface-hidden .swiper-slide{
        width: 25% !important;
        margin-right: 30px !important;
    }
    header .header-title .box-bottom p.bottom{
        font-size: 13px;
        text-align: center;
    }
}