.nav-title {
    width: 100%;
    position: fixed;
    top: 0px;
    background: #060616;
    left: 0px;
    right: 0px;
    padding: 15px 0px;
    z-index: 1111;
}

.nav-title .col-lg-12 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title .col-lg-12 img {
    width: 135px;
    object-fit: contain;
}

.nav-title .col-lg-12 .box,
.nav-title .col-lg-12 .null {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    grid-gap: 100px;
    align-items: center;
}

.nav-title .col-lg-12 .box ul,
.nav-title .col-lg-12 .null ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    grid-gap: 30px;
}

/* .nav-title .col-lg-12 .box ul li {
    position: relative;
} */

.nav-title .col-lg-12 .box ul li .a-text,
.nav-title .col-lg-12 .null ul li .a-text {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.nav-title .col-lg-12 .box ul li .a-text:hover,
.nav-title .col-lg-12 .null ul li .a-text:hover {
    cursor: pointer;
    color: #fe9e3f;
    transition: .3s;
}

/* .nav-title .col-lg-12 .box .bo {
    display: none;
    flex-direction: column;
    grid-gap: 5px;
    width: 200px;
    position: absolute;
    top: 40px;
    background: white;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid black;
}

.nav-title .col-lg-12 .box .bo2 {
    display: none;
    flex-direction: column;
    grid-gap: 5px;
    width: 200px;
    position: absolute;
    top: 40px;
    background: white;
    border-radius: 20px;
    border: 1px solid black;
    padding: 20px;
}

.nav-title .col-lg-12 .box .bo3 {
    display: none;
    flex-direction: column;
    grid-gap: 5px;
    width: 200px;
    position: absolute;
    top: 40px;
    background: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

.nav-title .col-lg-12 .box .bo .bo-text,
.nav-title .col-lg-12 .box .bo2 .bo-text,
.nav-title .col-lg-12 .box .bo3 .bo-text {
    color: black;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid black;
    text-decoration: none;
}

.nav-title .col-lg-12 .box .bo .bo-text:hover,
.nav-title .col-lg-12 .box .bo2 .bo-text:hover,
.nav-title .col-lg-12 .box .bo3 .bo-text:hover {
    cursor: pointer;
    transition: .3s;
    color: #fe9e3f;
    border-bottom: 1px solid #fe9e3f;
} */

.nav-title .col-lg-12 .box .box-right,
.nav-title .col-lg-12 .null .box-right {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    overflow: hidden;
}

.nav-title .col-lg-12 .box .box-right svg,
.nav-title .col-lg-12 .null .box-right svg {
    font-size: 30px;
    color: white;
}

.nav-title .col-lg-12 .box .box-right .text,
.nav-title .col-lg-12 .null .box-right .text {
    display: grid;
}

.nav-title .col-lg-12 .box .box-right .text a.email:hover,
.nav-title .col-lg-12 .box .box-right .text a.number:hover,
.nav-title .col-lg-12 .null .box-right .text a.email:hover,
.nav-title .col-lg-12 .null .box-right .text a.number:hover {
    cursor: pointer;
    transition: .3s;
    color: #fe9e3f;
}

.nav-title .col-lg-12 .box .box-right .text a.number,
.nav-title .col-lg-12 .box .box-right .text a.email,
.nav-title .col-lg-12 .null .box-right .text a.number,
.nav-title .col-lg-12 .null .box-right .text a.email {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.nav-title .col-lg-12 .box button.right,
.nav-title .col-lg-12 .null button.right {
    display: flex;
    position: relative;
    align-items: center;
    grid-gap: 5px;
    background: transparent;
    color: white;
    border: none;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 15px;
    padding: 10px 5px 10px 20px;
    overflow: hidden;
    z-index: 11;
}

.nav-title .col-lg-12 .box button.right:hover,
.nav-title .col-lg-12 .null button.right:hover {
    border: 1px solid #fe9e3f;
    cursor: pointer;
    transition: 1s;
}

.nav-title .col-lg-12 .box button.right svg,
.nav-title .col-lg-12 .null button.right svg {
    padding: 5px;
    border-radius: 50%;
    color: white;
    background: #fe9e3f;
}

.nav-title .col-lg-12 .box button.right::before,
.nav-title .col-lg-12 .null button.right::before {
    content: '';
    background: #fe9e3f !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -150px;
    transition: .8s;
    z-index: -1;
}

.nav-title .col-lg-12 .box button.right:hover::before,
.nav-title .col-lg-12 .null button.right:hover::before {
    cursor: pointer;
    transition: .8s;
    right: 0px;
}

.nav-title .col-lg-12 .box button.right:hover svg,
.nav-title .col-lg-12 .null button.right:hover svg {
    transform: rotate(40deg);
    transition: .6s;
}

.bars {
    color: #fe9e3f;
    font-size: 20px;
    display: none;
}

@media(max-width:991px) {
    .bars {
        display: grid;
    }

    .nav-title .col-lg-12 .null {
        position: fixed;
        left: 0px;
        top: 0px;
        flex-direction: column;
        justify-self: unset;
        align-items: unset;
        width: 300px;
        grid-gap: 20px;
        padding: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-right: 2px solid #fe9e3f;
        border-bottom: 2px solid #fe9e3f;
        transition: 1s;
        backdrop-filter:  blur(20px);
    }

    .nav-title .col-lg-12 .box {
        position: fixed;
        width: 300px;
        left: -400px;
        top: 0px;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        grid-gap: 20px;
        padding: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-right: 2px solid #fe9e3f;
        border-bottom: 2px solid #fe9e3f;
        transition: 1s;
    }

    .nav-title .col-lg-12 .box ul,
    .nav-title .col-lg-12 .null ul {
        flex-direction: column;
        grid-gap: 10px;
    }

    .nav-title .col-lg-12 .box button.right::before,
    .nav-title .col-lg-12 .null button.right::before {
        right: -100%;
    }

    .nav-title .col-lg-12 .box button.right,
    .nav-title .col-lg-12 .null button.right {
        justify-content: center;
    }

    .nav-title .col-lg-12 .box ul li,
    .nav-title .col-lg-12 .null ul li {
        border-bottom: 1px solid #fe9e3f;
        padding-bottom: 5px;
    }
}


@media(max-width:575px) {
    .nav-title .col-lg-12 .null {
        width: 250px;
    }
    .nav-title .col-lg-12 img{
        width: 120px;
    }
}