footer {
    width: 100%;
    background: #060616;
    padding: 15px 0px;
}


footer .col-lg-12 .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-gap: 100px;
    align-items: center;
    padding: 30px 0;
    font-size: 40px;
}


footer .col-lg-12 .box .box-right .text a.email:hover,
footer .col-lg-12 .box .box-right .text a.number:hover {
    cursor: pointer;
    transition: .3s;
    color: #fe9e3f;
}


footer .col-lg-12 .box button.right {
    display: flex;
    position: relative;
    align-items: center;
    grid-gap: 5px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 15px;
    width: 200px;
    padding: 10px;
    overflow: hidden;
    z-index: 11;

    justify-content: center;
}

footer .col-lg-12 .box button.right:hover {
    border: 1px solid #fe9e3f;
    cursor: pointer;
    transition: 1s;
}

footer .col-lg-12 .box button.right svg {
    padding: 5px;
    border-radius: 50%;
    color: white;
    background: #fe9e3f;
}

footer .col-lg-12 .box button.right::before {
    content: '';
    background: #fe9e3f !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 100%;
    transition: .8s;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .col-lg-12 .box button.right:hover::before {
    cursor: pointer;
    transition: .8s;
    left: 0;
}

footer .col-lg-12 .box button.right:hover svg {
    transform: rotate(40deg);
    transition: .6s;
}

.footer_title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}


.footer_sections {

    width: 100%;
    margin-top: 39px !important;
}


.footer_section_title {
    width: 100%;
    font-size: 22px;
    color: #fff;
}

.footer_section ul {
    padding: 0;
    margin-top: 10px;
}

.footer_section ul li {
    padding: 10px 0;
}

.footer_section ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.6);
}

.footer_section ul li a:hover {
    color: #fe9e3f;
}

@media (max-width: 991px) {
    footer {
        padding: 20px 0px;
    }

    footer .col-lg-12 {
        flex-direction: column;
        grid-gap: 20px;
    }

    footer .col-lg-12 .box {
        grid-gap: unset;
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    footer .col-lg-12 .box {
        flex-direction: column;
        grid-gap: 10px;
        justify-content: flex-start;
    }

    footer .col-lg-12 .box ul {
        justify-content: space-evenly;
    }

    footer .col-lg-12 .box ul,
    footer .col-lg-12 .box .box-right,
    footer .col-lg-12 .box button.right {
        width: 100%;
    }

    footer .col-lg-12 .box .box-right {
        grid-gap: 150px;
    }

    footer .col-lg-12 .box button.right {
        justify-content: center;
    }

    footer .col-lg-12 .box button.right::before {
        right: -100%;
    }

    footer .col-lg-12 .box .box-right .text {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

@media (max-width: 575px) {
    footer .col-lg-12 .box .box-right {
        grid-gap: 5px;
        justify-content: center;
    }

    footer .col-lg-12 .box .box-right .text {
        justify-content: space-around;
    }

    footer .col-lg-12 .box .box-right .text a.number,
    footer .col-lg-12 .box .box-right .text a.email {
        font-size: 14px;
    }
}